<svg class="circle-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 22.3 22.3" style="enable-background:new 0 0 22.3 22.3;" xml:space="preserve">
<!-- <style type="text/css">
	.st0{fill:#BD3131;}
</style> -->
<title>Group 5</title>
<desc>Created with Sketch.</desc>
<g id="Symbols">
	<g>
		<g id="GalleryICon_12_" transform="translate(-17.000000, -18.000000)">
			<g id="Group-6_12_">
				<g id="Group-5_12_" transform="translate(17.000000, 18.000000)">
					<g id="Rectangle-4_55_">
						<path class="st0" d="M20.4,10.2h-6.5c-1,0-1.8-0.8-1.8-1.8V2.9c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
							C22.2,9.4,21.4,10.2,20.4,10.2z M13.9,2.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2V2.9
							c0-0.1-0.1-0.2-0.2-0.2H13.9z"/>
					</g>
					<g id="Rectangle-4_54_">
						<path class="st0" d="M8.4,10.2H1.9c-1,0-1.8-0.8-1.8-1.8V2.9c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
							C10.2,9.4,9.4,10.2,8.4,10.2z M1.9,2.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2V2.9
							c0-0.1-0.1-0.2-0.2-0.2H1.9z"/>
					</g>
					<g id="Rectangle-4_53_">
						<path class="st0" d="M8.4,21.2H1.9c-1,0-1.8-0.8-1.8-1.8v-5.5c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
							C10.2,20.4,9.4,21.2,8.4,21.2z M1.9,13.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2v-5.5
							c0-0.1-0.1-0.2-0.2-0.2H1.9z"/>
					</g>
					<g id="Rectangle-4_52_">
						<path class="st0" d="M20.4,21.2h-6.5c-1,0-1.8-0.8-1.8-1.8v-5.5c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
							C22.2,20.4,21.4,21.2,20.4,21.2z M13.9,13.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2
							v-5.5c0-0.1-0.1-0.2-0.2-0.2H13.9z"/>
					</g>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>