<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="circle-svg" version="1.1"
	 id="Layer_1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22.3 22.3"
	 style="enable-background:new 0 0 22.3 22.3;" xml:space="preserve">
<g transform="translate(0,-952.36218)">
	<path d="M11.9,972.8h3.6c0.5,0,0.9-0.4,0.9-0.9v-1l4.5,1c0.5,0.1,1.1-0.3,1.2-0.9l0-7.5c-0.1-0.7-0.7-1-1.2-0.9l-4.5,1l0-1
		c0-0.5-0.4-0.9-0.9-0.9H15c0.9-0.8,1.5-2.1,1.5-3.4c0-2.6-2.1-4.7-4.7-4.7c-1.9,0-3.6,1.2-4.3,2.8c-0.7-1-1.9-1.6-3.2-1.6
		c-2.2,0-4.1,1.8-4.1,4.1c0,1.1,0.4,2.1,1.2,2.8H1.2c-0.5,0-0.9,0.5-0.9,0.9l0,9.4c0,0.5,0.4,0.9,0.9,0.9h3.7h2.3H11.9z M11.8,955.3
		c1.6,0,2.8,1.2,2.8,2.8c0,1.6-1.2,2.8-2.8,2.8S9,959.7,9,958.1C9,956.6,10.2,955.3,11.8,955.3z M4.3,956.6c1.2,0,2.2,1,2.2,2.2
		c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2C2.1,957.6,3.1,956.6,4.3,956.6z M7.9,960.7c0.2,0.3,0.5,0.6,0.7,0.9H7.2
		C7.5,961.3,7.7,961,7.9,960.7z M2.1,963.5h12.5l0,7.5H2.1L2.1,963.5z M20.2,964.6l0,5.2l-3.7-0.8l0-3.5L20.2,964.6z M7.2,972.8"/>
</g>
</svg>
