<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="circle-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 22.3 22.3" style="enable-background:new 0 0 22.3 22.3;" xml:space="preserve">
<path d="M21.1,0.9c-0.1-0.1-0.3-0.2-0.4-0.2h-19c-0.2,0-0.3,0.1-0.4,0.2S1.1,1.2,1.1,1.4l1.6,17.9c0.1,1,0.9,1.8,2,1.8h13.1
	c1,0,1.9-0.8,2-1.8l1.6-17.9C21.3,1.2,21.2,1,21.1,0.9z M3.1,10.2h1v2.2c0,1.1,0.9,2,2,2h3.8c1,0,1.8-0.6,2-1.5l0.7,0.3
	c0.2,0.1,0.5,0.1,0.7,0.1c0.3,0,0.6-0.1,0.9-0.2c0.5-0.2,0.9-0.6,1.1-1.2l0.6-1.8h1.1l-0.2,3c0,0.3,0.2,0.6,0.5,0.6h0
	c0.3,0,0.6-0.2,0.6-0.5l0.3-3.2h1.2l-0.4,5.1H3.6L3.1,10.2z M15.4,8L15,9h-3.1V8.6c0-1.1-0.8-2-1.9-2l0.2-0.5
	c0.1-0.2,0.2-0.4,0.4-0.5c0.2-0.1,0.4-0.1,0.6,0l3.6,1.3c0.2,0.1,0.4,0.2,0.5,0.4C15.4,7.5,15.4,7.7,15.4,8z M11.9,10.2h2.6
	l-0.5,1.4c-0.1,0.2-0.2,0.4-0.4,0.5c-0.2,0.1-0.4,0.1-0.6,0L12,11.7L11.9,10.2L11.9,10.2z M9.9,7.8c0.5,0,0.8,0.4,0.8,0.8V9H5.2V8.6
	c0-0.5,0.4-0.8,0.8-0.8H9.9z M10.8,10.2v2.2c0,0.5-0.4,0.8-0.8,0.8H6.1c-0.5,0-0.8-0.4-0.8-0.8v-2.2H10.8z M20,1.9L19.4,9h-1.3
	l0.4-4.4c0-0.3-0.2-0.6-0.5-0.6c-0.3,0-0.6,0.2-0.6,0.5L17,9h-0.7l0.2-0.6c0.2-0.5,0.2-1.1-0.1-1.6c-0.2-0.5-0.6-0.9-1.2-1.1
	l-3.6-1.3c-0.5-0.2-1.1-0.2-1.6,0.1C9.6,4.8,9.2,5.2,9.1,5.7L8.7,6.5H6.1c-1.1,0-2,0.9-2,2v0.4H3l-0.6-7H20z M17.7,19.9h-13
	c-0.4,0-0.7-0.3-0.8-0.7l-0.2-2.7h15.1l-0.2,2.7C18.5,19.6,18.1,19.9,17.7,19.9z"/>
</svg>
