<div class="recent-articles pt2 mt2 bg-white text-center">

  <p class="main-heading">{{ settings.blog_articles_sub_title }}</p>

  <div class="card-grid bg-white">

    {% for article in blogs.news.articles %}
    {% comment %} most recent article is featured in blog-header {% endcomment %}
    {% if forloop.first != true %}

    <div class="card type--reset">

      <div class="card-img">
        <img class="img-cover" src="{{ article.image.src | img_url: 'large' }}" />
      </div>

      <div>

        <div class="f circle rel pt1">
          {% case article.tags.first %}
            {% when 'article' %}
              {% include 'icon-article' %}
            {% when 'gallery' %}
              {% include 'icon-gallery' %}
            {% when 'video' %}
              {% include 'icon-video' %}
            {% when 'recipe' %}
              {% include 'icon-recipe' %}
          {% endcase %}
        </div>

        <div class="f fdc jcs aic pb2 ph1 rel card-text type--reset">
          <p class="date">{{ article.published_at | date: "%B %e" }}</p>
          <p class="type--reset subheading-2">{{ article.title }}</p>
          <p class="button mt2 read-more">
            {% case article.tags.first %}
              {% when 'article' %}
                <span>Read More</span>
              {% when 'gallery' %}
                <span>View Gallery</span>
              {% when 'video' %}
                <span>Watch Video</span>
              {% when 'recipe' %}
                <span>Read More</span>
            {% endcase %}
          </p>
        </div>

      </div>

    </div>

    {% endif %}
    {% endfor %}

  </div>

</div>
