.card-grid {
  width: 100%;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4em;
  justify-items: center;
  align-items: stretch;
  @media (--s) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--ml) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.read-more {
  color: var(--red) !important;
}

.read-more:hover {
  color: var(--red-dark) !important;
  transition: 100ms linear;
}

.card * {
  background-color: var(--tan-light);
}

.card:hover * {
  background-color: var(--tan);
  transition: 100ms linear;
}

.card:hover img {
  filter: brightness(90%);
  transition: 100ms linear;
}

.card:hover p {
  color: white;
  transition: 100ms linear;
}

.card-img {
  height: 250px;
}

.card-img img {
  height: 250px;
  /* width: 250px; */
  object-position: 80% 80%;
}

.card-text {
  top: -1.5em;
  height: 9em;
}

.circle {
  align-self: center;
  top: -2em;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  justify-content: center; 
  margin: 0 auto;
}

.circle-svg {
  display: inline-block;
  text-align: center;
  fill: var(--red-dark);
  width: 50%;
  height: 50%;
}

.icon-align svg {
  vertical-align: middle;
}

.hover-white:hover {
  color: white;
  transition: 100ms linear;
}