<header id="nav" class="nav bg-tan-dark tan relative f aic fdc fit-t fit-l w1 z10">
  <div class="f fa aic fa bg-tan w1">
    <p class="mxa black small">
    Sponsored by
    </p>
  </div>
  <div class="nav__inner f aic jcb w1 z1 outer">

    <a class="nav__logo inline-block" href="{{ shop.url }}">
      <img class="block w1" src="{{ 'logo.svg' | asset_url }}" alt="Logo"/>
    </a>

    <div class="nav__desktop inline-block mb025 f aic jcc hover-white">
        [logo]
    </div>

    <div class="f aic">
      <div class="nav__icon relative inline-block c1 ml1">
        <a id="searchToggle" href="#facebook" class="block absolute fit-x mha mva no-ajax hover-white">
          {% include 'icon' with 'icon-facebook' %}
        </a>
      </div>
      <div class="nav__icon relative inline-block c1 ml1">
        <a id="searchToggle" href="#twitter" class="block absolute fit-x mha mva no-ajax hover-white">
          {% include 'icon' with 'icon-twitter' %}
        </a>
      </div>
    </div>


  </div>
</header>
