<footer class="footer outer bg-cg1 pv1 bg-tan-dark tan">
  <div class="container--l mha">
    <nav class="block mt1">
      <ul class="list--reset">

          <div class="f jcb">
            <div class="f aic">
              <p class="button">Share on</p>
              <div class="nav__icon icon-align relative inline-block c1 ml1">
                <a id="searchToggle" href="#facebook" class="block absolute fit-x mha mva no-ajax hover-white">
                  {% include 'icon' with 'icon-facebook' %}
                </a>
              </div>
              <div class="nav__icon icon-align relative inline-block c1 ml1">
                <a id="searchToggle" href="#twitter" class="block absolute fit-x mha mva no-ajax hover-white">
                  {% include 'icon' with 'icon-twitter' %}
                </a>
              </div>
            </div>

            <div></div>

            <div>
              <a class="nav__logo inline-block" href="{{ shop.url }}">
                <img class="block w1" src="{{ 'logo.svg' | asset_url }}" alt="Logo"/>
              </a>
            </div>
          </div>

      </ul>
    </nav>
  </div>
</footer>
