#admin-bar-iframe {
  display: none;
}

.blog-heading {
  background-color: var(--tan);
  position: relative;
  width: 100%;
  z-index: -200;
  @media (--s) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
  }
}

.blog-heading__content {
  position: relative;
}

.blog-heading__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  min-height: 600px;
  object-fit: cover;
}

.blog-heading__bottle {
  text-align: center;
  width: 100%;
  @media (--s) {
    width: 50%;
  }
}

.blog-heading__bottleimg {
  width: auto;
  height: 50%;
  @media (--xs) {
    height: 500px;
  }
  @media (--s) {
    height: 130%;
  }
}

.blog-heading__headline {
  margin: 0 5vw;
  display: block;
  height: 70vh;
  overflow: hidden;
  @media (--xxs) {
    height: 60vh;
  }
  @media (--s) {
    height: 45vh;
    display: flex;
    flex-direction: row;
  }
}

.blog-heading__headline-text {
  padding: 2em 0;
  width: 100%;
  text-align: center;
  @media (--s) {
    padding: 2em 0;
    width: 50%;
    text-align: left;
  }
  @media (--ml) {
    padding: 4em 0;
  }
}

.featured-article {
  align-self: center;
  /* width: 90vw; */
  display: block;
  margin: 0 5vw 5vw 5vw;
  @media (--s) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.featured-img {
  height: 200px;
  width: 100%;
  @media (--s) {
    height: inherit;
    width: 50%;
  }
}

.featured-icon {
  width: 4em;
  text-align: center;
}

.featured-copy {
  padding: 7%;
  width: 100%;
  @media (--s) {
    width: 50%;
  }
}

.featured-copy p {
  @media (--s) { margin: 5% 0; }
}

.recent-articles {
  display: block;
  @media (--s) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
