<div data-module="blog-heading" class="blog-heading">

  <div class="blog-heading__content">
  
    <div class="blog-heading__headline">

      <div class="f jcc fdc blog-heading__headline-text">
        <p class="js-blog-heading white main-title type--reset inline-block">
          {{ settings.blog_heading_main_title }}
        </p>
        <p class="white paragraph inline-block">
          {{ settings.blog_heading_sub_title }}
        </p>
      </div>

      <div class="pt2 ph2 blog-heading__bottle">
        <img class="blog-heading__bottleimg" src="{{'KnobCreek.png' | asset_url }}">
      </div>

    </div>

    <div class="featured-article">
      {% for article in blogs.news.articles %}
      {% if forloop.first == true %}

      <div class="featured-img" style>
        <img class="img-cover" src="{{ article.image.src | img_url: 'large' }}" />
      </div>

      <div class="featured-copy bg-white px2 f fdc aic jcc">

        <div class="featured-icon">
          {% case article.tags.first %}
            {% when 'article' %}
              {% include 'icon-article' %}
            {% when 'gallery' %}
              {% include 'icon-gallery' %}
            {% when 'video' %}
              {% include 'icon-video' %}
            {% when 'recipe' %}
              {% include 'icon-recipe' %}
          {% endcase %}
        </div>

        <p class="date mx0">{{ article.published_at | date: "%B %e" }}</p>
        <p class="subheading mx0">{{ article.title }}</p>
        <p class="paragraph mx0 mb1">{{ article.excerpt_or_content }}</p>
        <p class="button mt2 read-more">
          {% case article.tags.first %}
            {% when 'article' %}
              <span>Read More</span>
            {% when 'gallery' %}
              <span>View Gallery</span>
            {% when 'video' %}
              <span>Watch Video</span>
            {% when 'recipe' %}
              <span>Read More</span>
          {% endcase %}
        </p>

      </div>

      {% endif %}
      {% endfor %}
    </div>

  </div>

  <div>
    <img class="blog-heading__background" src="{{'kc-campfire.jpg' | asset_url }}">
  </div>

</div>
